div {
  margin: 50px;
  display: flex;
  justify-content: center;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 120%;
  color: #FFFFFF;
  letter-spacing: 1.6px;
  border-top: 6px solid #B2479A;
  border-bottom: 6px solid #B2479A;
  border-left: 6px solid #CC7FB5;
  border-right: 6px solid #CC7FB5;
  background-color: #E5B6D5;
  padding: 5px;
  margin: 10px;
  width: 125px;
}

.btn:hover {
  border-top: 6px solid #CC7FB5;
  border-bottom: 6px solid #CC7FB5;
  border-left: 6px solid #E5B6D5;
  border-right: 6px solid #E5B6D5;
  background-color: #B2479A;
}

@media screen and (max-width: 400px) {
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .btn {
    height: 80px;
  }

  .btn-clear {
    font-size: 100%;
    height: 40px;
  }
}
